/* Define your styles here */

.user-picture {
    object-fit: contain;
}
/* tag::overlay[] */
  vaadin-combo-box-overlay.my-custom-overlay::part(overlay){
      background-color: #ecfcf9;
      border-radius: 5px;
  }
  /* end::overlay[] */