/* Define your styles here */

.user-picture {
    object-fit: contain;
}
/* tag::overlay[] */
  vaadin-combo-box-overlay.my-custom-overlay::part(overlay){
      background-color: #ecfcf9;
      border-radius: 5px;
  }
  /* end::overlay[] */
  /* tag::overlay-select[] */
  vaadin-select-overlay.my-custom-overlay::part(overlay){
      background-color: #ecfcf9;
      border-radius: 5px;
  }
  /* end::overlay-select[] */

/* tag::html[] */
html {
/* end::html[] */
    /* tag::exception-dialog[] */
    --jmix-exception-dialog-width: 30em;
    --jmix-exception-dialog-expanded-width: 40em;
    --jmix-exception-dialog-expanded-height: 30em;
    /* end::exception-dialog[] */

/* tag::html[] */
}
/* end::html[] */
