<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.company.onboardingmaps/menu.application.title">
        <item view="MyOnboardingView"
              title="msg://com.company.onboardingmaps.view.myonboarding/myOnboardingView.title"/>
        <item view="User.list" title="msg://com.company.onboardingmaps.view.user/UserListView.title"/>
        <item view="Department.list" title="msg://com.company.onboardingmaps.view.department/departmentListView.title"/>
        <item view="Step.list" title="msg://com.company.onboardingmaps.view.step/stepListView.title"/>
    </menu>
</menu-config>