<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.masqueradeex1/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.masqueradeex1.view.user/UserListView.title"/>
        <item view="MyView" title="msg://com.company.masqueradeex1.view.mytest/myTestView.title"/>
        <item view="FragmentsView" title="msg://com.company.masqueradeex1.view.fragments/fragmentsView.title"/>
    </menu>

</menu-config>