/* Define your styles here */
/* tag::overlay[] */
vaadin-combo-box.my-custom-overlay::part(overlay){
    background-color: #ecfcf9;
    border-radius: 5px;
}
/* end::overlay[] */
/* tag::overlay-select[] */
vaadin-select.my-custom-overlay::part(overlay){
    background-color: #ecfcf9;
    border-radius: 5px;
}
/* end::overlay-select[] */
/* tag::popoverRenderer[] */
.jmix-popover-renderer-popover.hobby-description {
    --jmix-popover-renderer-max-width: 40rem;
    --jmix-popover-renderer-max-height: 15rem;
}
/* end::popoverRenderer[] */
