/* Define your styles here */
/* tag::overlay[] */
vaadin-combo-box.my-custom-overlay::part(overlay){
    background-color: #ecfcf9;
    border-radius: 5px;
}
/* end::overlay[] */
/* tag::overlay-select[] */
vaadin-select.my-custom-overlay::part(overlay){
    background-color: #ecfcf9;
    border-radius: 5px;
}
/* end::overlay-select[] */