<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.onboarding.view.main/applicationTitle.text" opened="true">
        <item view="User.list" title="msg://com.company.onboarding.view.user/UserListView.title"/>
        <item view="PivotTableView" title="msg://com.company.onboarding.view.pivottable/pivotTableView.title"/>
        <item view="PivottableEventsView"
              title="msg://com.company.onboarding.view.pivottableevents/pivottableEventsView.title"/>
        <item view="PivottableSettingsView"
              title="msg://com.company.onboarding.view.pivottablesettings/pivottableSettingsView.title"/>
        <item view="PivotTableManualDataBindingView"
              title="msg://com.company.onboarding.view.pivottablemanualdatabinding/pivotTableManualDataBindingView.title"/>
        <item view="PivotTableCustomDataBindingView"
              title="msg://com.company.onboarding.view.pivottablecustomdatabinding/pivotTableCustomDataBindingView.title"/>
        <item view="PivotTableOnboarding"
              title="msg://com.company.onboarding.view.pivottableonboarding/pivotTableOnboarding.title"/>
    </menu>

</menu-config>