<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.onboarding/menu.application.title" opened="true">
        <item view="MyOnboardingView" title="msg://com.company.onboarding.view.myonboarding/myOnboardingView.title"/>
        <item view="User.list" title="msg://com.company.onboarding.view.user/UserListView.title"/>
        <item view="Step.list" title="msg://com.company.onboarding.view.step/stepListView.title"/>
        <item view="Department.list" title="msg://com.company.onboarding.view.department/departmentListView.title"/>
    </menu>

</menu-config>