<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://grapesjs.ex1/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://grapesjs.ex1.screen.user/userBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="sample_GrapesJsScreen" caption="msg://grapesjs.ex1.screen.grapesjs/grapesJsScreen.caption"/>
        <item screen="sample_PluginScreen" caption="msg://grapesjs.ex1.screen.grapesjs/pluginScreen.caption"/>
        <item screen="sample_CustomBlockScreen" caption="msg://grapesjs.ex1.screen.grapesjs/customBlockScreen.caption"/>
    </menu>

</menu-config>