site:
  title: Jmix Documentation
  start_page: jmix:ROOT:intro.adoc
  url: https://docs.jmix.io/
content:
  sources: 
  - url: ./
    branches: HEAD
    start_path: content
  - url: ./external/jmix-business-logic-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-application-events-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-application-logging-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-mongodb-integration-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-integrated-apps-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-separate-tiers-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-openapi-integration-sample
    branches: HEAD
    start_path: doc
  - url: ./external/jmix-data-modelling-many-to-many-sample
    branches: HEAD
    start_path: doc
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./content/supplemental
asciidoc:
  extensions:
    - asciidoctor-kroki
antora:
  extensions:
    - require: '@jmix-framework/lunr-extension'
      index_latest_only: true
