<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://datatools.ex1/menu.application">
        <item id="sample_Order.browse" caption="msg://datatools.ex1.screen.order/orderBrowse.caption"/>
    </menu>

</menu-config>