<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="components" caption="Components">
        <item screen="sample_BrowserFrameScreen" caption="msg://ui.ex1.screen.component.browserframe/browserFrameScreen.caption"/>
        <item screen="button-screen" caption="msg://ui.ex1.screen.component.button/buttonScreen.caption"/>
        <item screen="CapsLockIndicatorScreen" caption="msg://ui.ex1.screen.component.capslockindicator/capsLockIndicatorScreen.caption"/>
        <item screen="sample_CalendarScreen" caption="Calendar"/>
        <item screen="CheckBoxScreen" caption="msg://ui.ex1.screen.component.checkbox/checkBoxScreen.caption"/>
        <item screen="CheckBoxGroupScreen" caption="msg://ui.ex1.screen.component.checkboxgroup/checkBoxGroupScreen.caption"/>
        <item screen="sample_ColorPickerScreen" caption="msg://ui.ex1.screen.component.colorpicker/colorPickerScreen.caption"/>
        <item screen="comboBox-screen" caption="msg://ui.ex1.screen.component.combobox/comboBoxScreen.caption"/>
        <item screen="sample_CompositeComponentScreen"
              caption="msg://ui.ex1.screen.component.compositecomponent/compositeComponentScreen.caption"/>
        <item screen="sample_CurrencyFieldScreen" caption="msg://ui.ex1.screen.component.currencyfield/currencyFieldScreen.caption"/>
        <item screen="dataGrid-screen" caption="msg://ui.ex1.screen.component.datagrid/dataGridScreen.caption"/>
        <item screen="DateFieldScreen" caption="msg://ui.ex1.screen.component.datefield/dateFieldScreen.caption"/>
        <item screen="sample_DatePickerScreen" caption="msg://ui.ex1.screen.component.datepicker/datePickerScreen.caption"/>
        <item screen="entityComboBox-screen" caption="msg://ui.ex1.screen.component.entitycombobox/entityComboBoxScreen.caption"/>
        <item screen="entityPicker-screen" caption="msg://ui.ex1.screen.component.entitypicker/entityPickerScreen.caption"/>
        <item screen="entitySuggestionField-screen" caption="msg://entitysuggestionfield/caption"/>
        <item screen="sample_FileMultiUploadFieldScreen" caption="msg://ui.ex1.screen.component.filemultiuploadfield/fileMultiUploadFieldScreen.caption"/>
        <item screen="sample_FileStorageUploadFieldScreen" caption="msg://ui.ex1.screen.component.filestorageuploadfield/fileStorageUploadFieldScreen.caption"/>
        <item screen="sample_FileUploadFieldScreen" caption="msg://ui.ex1.screen.component.fileuploadfield/fileUploadFieldScreen.caption"/>
        <item screen="filterScreen" caption="msg://ui.ex1.screen.component.filter/filterScreen.caption"/>
        <item screen="FormScreen" caption="msg://ui.ex1.screen.component.form/formScreen.caption"/>
        <item screen="groupTable-screen" caption="msg://ui.ex1.screen.component.grouptable/groupTableScreen.caption"/>
        <item screen="sample_ImageScreen" caption="msg://ui.ex1.screen.component.image/imageScreen.caption"/>
        <item screen="sample_LabelScreen" caption="msg://ui.ex1.screen.component.label/labelScreen.caption"/>
        <item screen="LinkScreen" caption="msg://ui.ex1.screen.component.link/linkScreen.caption"/>
        <item screen="sample_LinkButtonScreen" caption="msg://ui.ex1.screen.component.linkbutton/linkButtonScreen.caption"/>
        <item screen="sample_MaskedFieldScreen" caption="msg://ui.ex1.screen.component.maskedfield/maskedFieldScreen.caption"/>
        <item screen="multiSelectList-screen" caption="msg://multiselectlist/caption"/>
        <item screen="paginationScreen" caption="msg://ui.ex1.screen.component.pagination/paginationScreen.caption"/>
        <item screen="PasswordFieldScreen" caption="msg://ui.ex1.screen.component.passwordfield/passwordFieldScreen.caption"/>
        <item screen="PopupButtonScreen" caption="msg://ui.ex1.screen.component.popupbutton/popupButtonScreen.caption"/>
        <item screen="sample_PopupViewScreen" caption="msg://ui.ex1.screen.component.popupview/popupViewScreen.caption"/>
        <item screen="sample_ProgressBarScreen" caption="msg://ui.ex1.screen.component.progressbar/progressBarScreen.caption"/>
        <item screen="propertyFilterScreen" caption="msg://ui.ex1.screen.component.propertyfilter/propertyFilterScreen.caption"/>
        <item screen="RadioButtonGroupScreen" caption="msg://ui.ex1.screen.component.radiobuttongroup/radioButtonGroupScreen.caption"/>
        <item screen="sample_ResizableTextAreaScreen" caption="msg://ui.ex1.screen.component.resizabletextarea/resizableTextAreaScreen.caption"/>
        <item screen="sample_RichTextAreaScreen" caption="msg://ui.ex1.screen.component.richtextarea/richTextAreaScreen.caption"/>
        <item screen="simplePagination-screen" caption="msg://ui.ex1.screen.component.simplepagination/simplePaginationScreen.caption"/>
        <item screen="singleSelectList-screen" caption="msg://singleselectlist/caption"/>
        <item screen="sample_SliderScreen" caption="msg://ui.ex1.screen.component.slider/sliderScreen.caption"/>
        <item screen="sample_SourceCodeEditorScreen" caption="msg://ui.ex1.screen.component.sourcecodeeditor/sourceCodeEditorScreen.caption"/>
        <item screen="suggestionField-screen" caption="msg://suggestionfield/caption"/>
        <item screen="table-screen" caption="msg://ui.ex1.screen.component.table/tableScreen.caption"/>
        <item screen="sample_TagFieldScreen" caption="msg://ui.ex1.screen.component.tagfield/tagFieldScreen.caption"/>
        <item screen="sample_TagPickerScreen" caption="msg://ui.ex1.screen.component.tagpicker/tagPickerScreen.caption"/>
        <item screen="TextAreaScreen" caption="msg://ui.ex1.screen.component.textarea/textAreaScreen.caption"/>
        <item screen="sample_TextFieldScreen" caption="msg://ui.ex1.screen.component.textfield/textFieldScreen.caption"/>
        <item screen="sample_TimeFieldScreen" caption="msg://ui.ex1.screen.component.timefield/timeFieldScreen.caption"/>
        <item screen="tree-screen" caption="msg://ui.ex1.screen.component.tree/treeScreen.caption"/>
        <item screen="treeDataGrid-screen"
              caption="msg://ui.ex1.screen.component.treedatagrid/treeDataGridScreen.caption"/>
        <item screen="treeTable-screen" caption="msg://ui.ex1.screen.component.treetable/treeTableScreen.caption"/>
        <item screen="sample_TwinColumnScreen" caption="msg://ui.ex1.screen.component.twincolumn/twinColumnScreen.caption"/>
        <item screen="valuePicker-screen" caption="msg://ui.ex1.screen.component.valuepicker/valuePickerScreen.caption"/>
        <item screen="valuesPicker-screen" caption="msg://ui.ex1.screen.component.valuespicker/valuesPickerScreen.caption"/>
    </menu>

    <menu id="containers" caption="Containers">
        <item screen="sample_AccordionScreen" caption="msg://ui.ex1.screen.containers.accordion/accordionScreen.caption"/>
        <item screen="sample_BoxLayoutScreen" caption="msg://ui.ex1.screen.containers.boxlayout/boxLayoutScreen.caption"/>
        <item screen="sample_ButtonsPanelScreen" caption="msg://ui.ex1.screen.containers.buttonspanel/buttonsPanelScreen.caption"/>
        <item screen="sample_CssLayoutScreen" caption="msg://ui.ex1.screen.containers.csslayout/cssLayoutScreen.caption"/>
        <item screen="sample_DrawerScreen" caption="msg://ui.ex1.screen.containers.drawer/drawerScreen.caption"/>
        <item screen="sample_GroupBoxLayoutScreen" caption="msg://ui.ex1.screen.containers.groupboxlayout/groupBoxLayoutScreen.caption"/>
        <item screen="sample_GridLayoutScreen" caption="msg://ui.ex1.screen.containers.gridlayout/gridLayoutScreen.caption"/>
        <item screen="sample_HtmlBoxLayoutScreen" caption="msg://ui.ex1.screen.containers.htmlboxlayout/htmlBoxLayoutScreen.caption"/>
        <item screen="sample_ResponsiveGridLayoutScreen" caption="msg://ui.ex1.screen.containers.responsivegridlayout/responsiveGridLayoutScreen.caption"/>
        <item screen="sample_ScrollBoxLayoutScreen" caption="msg://ui.ex1.screen.containers.scrollboxlayout/scrollBoxLayoutScreen.caption"/>
        <item screen="sample_SplitPanelScreen" caption="msg://ui.ex1.screen.containers.splitpanel/splitPanelScreen.caption"/>
        <item screen="sample_TabSheetScreen" caption="msg://ui.ex1.screen.containers.tabsheet/tabSheetScreen.caption"/>
    </menu>

    <menu id="facets" caption="Facets">
        <item screen="sample_ClipboardTriggerScreen" caption="msg://ui.ex1.screen.facets.clipboardtrigger/clipboardTriggerScreen.caption"/>
        <menu id="dataLoadCoordinator" caption="DataLoadCoordinator">
            <item screen="sample_ManualModeScreen" caption="msg://ui.ex1.screen.facets.dataloadcoordinator.manualmode/manualModeScreen.caption"/>
            <item screen="sample_AutomaticModeScreen" caption="msg://ui.ex1.screen.facets.dataloadcoordinator.automaticmode/automaticModeScreen.caption"/>
            <item screen="sample_SemiAutomaticModeScreen" caption="msg://ui.ex1.screen.facets.dataloadcoordinator.semiautomaticmode/semiAutomaticModeScreen.caption"/>
        </menu>
        <item screen="sample_DialogModeFacetScreen" caption="msg://ui.ex1.screen.facets.dialogmodefacet/dialogModeFacetScreen.caption"/>
        <item screen="sample_DynamicAttributesFacetScreen" caption="msg://ui.ex1.screen.facets.dynamicattributesfacet/dynamicAttributesFacetScreen.caption"/>
        <item screen="sample_NotificationFacetScreen" caption="msg://ui.ex1.screen.facets.notificationfacet/notificationFacetScreen.caption"/>
        <item screen="sample_ScreenSettingsFacetScreen" caption="msg://ui.ex1.screen.facets.screensettingsfacet/screenSettingsFacetScreen.caption"/>
        <item screen="sample_ScreenFacetScreen" caption="msg://ui.ex1.screen.facets.screenfacet/screenFacetScreen.caption"/>
        <item screen="sample_EditorScreenFacetScreen" caption="msg://ui.ex1.screen.facets.editorscreenfacet/editorScreenFacetScreen.caption"/>
        <item screen="sample_LookupScreenFacetScreen" caption="msg://ui.ex1.screen.facets.lookupscreenfacet/lookupScreenFacetScreen.caption"/>
        <item screen="sample_MessageDialogFacetScreen" caption="msg://ui.ex1.screen.facets.messagedialogfacet/messageDialogFacetScreen.caption"/>
        <item screen="sample_OptionDialogFacetScreen" caption="msg://ui.ex1.screen.facets.optiondialogfacet/optionDialogFacetScreen.caption"/>
        <item screen="sample_InputDialogFacetScreen" caption="msg://ui.ex1.screen.facets.inputdialogfacet/inputDialogFacetScreen.caption"/>
        <item screen="sample_PresentationsFacetScreen" caption="msg://ui.ex1.screen.facets.presentationsfacet/presentationsFacetScreen.caption"/>
        <item screen="sample_TimerScreen" caption="msg://ui.ex1.screen.facets.timer/timerScreen.caption"/>
    </menu>

    <menu id="others" caption="Others">
        <item screen="action-screen" caption="msg://ui.ex1.screen.actions/actionScreen.caption"/>
        <item screen="sample_BackgroundTasksScreen" caption="msg://ui.ex1.screen.backgroundtasks/backgroundTasksScreen.caption"/>
        <item screen="dialogsScreen" caption="msg://ui.ex1.screen.dialogs/dialogsScreen.caption"/>
    </menu>

    <menu id="screens" caption="Screens and Fragments">
        <item screen="sample_OrderScreen" caption="Screen controllers"/>
        <item screen="uiex1_Order1.browse" caption="msg://ui.ex1.screen.screens/orderBrowse1.caption"/>
        <item screen="uiex1_Order2.browse" caption="msg://ui.ex1.screen.screens/orderBrowse2.caption"/>
        <item screen="demo_Order.browse" caption="msg://ui.ex1.screen.screens/demoOrderBrowse.caption"/>
        <item screen="sample_DemoScreen" caption="Demo screen"/>
        <item screen="sample_ShowScreens" caption="msg://ui.ex1.screen.screens.open/showScreens.caption"/>
        <item screen="sample_ShowScreens2" caption="msg://ui.ex1.screen.screens.open.showscreens2/showScreens2.caption"/>
        <item screen="sample_ShowScreens3" caption="msg://ui.ex1.screen.screens.open.showscreens3/showScreens3.caption"/>
        <item screen="sample_ShowScreens4" caption="Show screens4"/>
        <item screen="sample_HostScreen" caption="Host screen"/>
        <item screen="sample_HostScreen1" caption="Host screen 1"/>
        <item screen="sample_HostScreen2" caption="Host screen 2"/>
        <item screen="sample_HostScreen3" caption="Host screen 3"/>
        <item screen="sample_HostScreen4" caption="Host screen 4"/>
        <item screen="uiex1_Address1.browse" caption="Address browse"/>
    </menu>

    <menu id="data" caption="Data components">
        <item screen="uiex1_CustomerData.browse" caption="msg://ui.ex1.screen.customer/customerBrowseData.menu"/>
        <item screen="uiex1_DepartmentData.browse" caption="msg://ui.ex1.screen.data/departmentBrowseData.menu"/>
        <item screen="uiex1_DepartmentData2.browse" caption="msg://ui.ex1.screen.data/departmentBrowseData2.menu"/>
        <item screen="uiex1_OrderData.browse" caption="msg://ui.ex1.screen.data/orderBrowseData.menu"/>
        <item screen="uiex1_CustomerData2.browse" caption="msg://ui.ex1.screen.customer/customerBrowseData2.menu"/>
        <item screen="uiex1_CustomerData3.browse" caption="msg://ui.ex1.screen.data/customerBrowseData3.menu"/>
        <item screen="uiex1_PersonCondition.browse" caption="msg://ui.ex1.screen.data/customerBrowseCondition.menu"/>
        <item screen="uiex1_EmployeeExample.browse" caption="msg://ui.ex1.screen.employee/employeeBrowseExample.menu"/>
        <item screen="uiex1_EmployeeDependTables" caption="msg://ui.ex1.screen.data/employeeDependTables.menu"/>
        <item screen="sample_ShowCities" caption="msg://ui.ex1.screen.data/showCities.caption"/>
        <item screen="uiex1_OrderExample.browse" caption="msg://ui.ex1.screen.data/orderBrowseExample.menu"/>
    </menu>

    <menu id="administration" caption="Administration">
        <item screen="uiex1_User.browse" caption="msg://ui.ex1.screen.entity.user/UserBrowse.caption"/>
    </menu>

    <menu id="application" caption="Application">
        <item screen="uiex1_Customer.browse" caption="msg://ui.ex1.screen.entity.customer/customerBrowse.caption"/>
        <item screen="sample_Order.browse" caption="msg://ui.ex1.screen.entity.order/orderBrowse.caption"/>
        <item screen="uiex1_Country.browse" caption="msg://ui.ex1.screen.entity.country/countryBrowse.caption"/>
        <item screen="uiex1_City.browse" caption="msg://ui.ex1.screen.city/cityBrowse.menu"/>
        <item screen="uiex1_Address.browse" caption="msg://ui.ex1.screen.entity.address/addressBrowse.caption"/>
        <item screen="uiex1_Brand.browse" caption="msg://ui.ex1.screen.entity.brand/brandBrowse.caption"/>
        <item screen="uiex1_Person.browse" caption="msg://ui.ex1.screen.entity.person/personBrowse.caption"/>
        <item screen="uiex1_Department.browse" caption="msg://ui.ex1.screen.entity.department/departmentBrowse.caption"/>
        <item screen="uiex1_Employee.browse" caption="msg://ui.ex1.screen.entity.employee/employeeBrowse.caption"/>
        <item screen="uiex1_CustomCalendarEvent.browse" caption="msg://ui.ex1.screen.entity.customcalendarevent/customCalendarEventBrowse.caption"/>
        <item screen="uiex1_Car.browse" caption="msg://ui.ex1.screen.entity.car/carBrowse.menu"/>
        <item screen="uiex1_BudgetItem.browse" caption="msg://ui.ex1.screen.entity.budgetitem/budgetItemBrowse.menu"/>
        <item screen="uiex1_EquipmentLine.browse" caption="msg://ui.ex1.screen.equipmentline/equipmentLineBrowse.menu"/>
    </menu>

</menu-config>