<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="components" caption="Components">
        <item screen="button-screen"
              caption="msg://ui.ex1.screen.component.button/buttonScreen.caption"/>
        <item screen="CapsLockIndicatorScreen"
              caption="msg://ui.ex1.screen.component.capslockindicator/capsLockIndicatorScreen.caption"/>
        <item screen="CheckBoxScreen" caption="msg://ui.ex1.screen.component.checkbox/checkBoxScreen.caption"/>
        <item screen="CheckBoxGroupScreen"
              caption="msg://ui.ex1.screen.component.checkboxgroup/checkBoxGroupScreen.caption"/>
        <item screen="comboBox-screen"
              caption="msg://ui.ex1.screen.component.combobox/comboBoxScreen.caption"/>
        <item screen="DateFieldScreen" caption="msg://ui.ex1.screen.component.datefield/dateFieldScreen.caption"/>
        <item screen="sample_DatePickerScreen"
              caption="msg://ui.ex1.screen.component.datepicker/datePickerScreen.caption"/>
        <item screen="entityPicker-screen"
              caption="msg://ui.ex1.screen.component.entitypicker/entityPickerScreen.caption"/>
        <item screen="entityComboBox-screen"
              caption="msg://ui.ex1.screen.component.entitycombobox/entityComboBoxScreen.caption"/>
        <item screen="entitySuggestionField-screen"
              caption="msg://entitysuggestionfield/caption"/>
        <item screen="sample_FileStorageUploadFieldScreen"
              caption="msg://ui.ex1.screen.component.filestorageuploadfield/fileStorageUploadFieldScreen.caption"/>
        <item screen="sample_FileUploadFieldScreen"
              caption="msg://ui.ex1.screen.component.fileuploadfield/fileUploadFieldScreen.caption"/>
        <item screen="sample_FileMultiUploadFieldScreen"
              caption="msg://ui.ex1.screen.component.filemultiuploadfield/fileMultiUploadFieldScreen.caption"/>
        <item screen="FormScreen" caption="msg://ui.ex1.screen.component.form/formScreen.caption"/>
        <item screen="sample_ImageScreen" caption="msg://ui.ex1.screen.component.image/imageScreen.caption"/>
        <item screen="sample_LabelScreen" caption="msg://ui.ex1.screen.component.label/labelScreen.caption"/>
        <item screen="LinkScreen" caption="msg://ui.ex1.screen.component.link/linkScreen.caption"/>
        <item screen="sample_LinkButtonScreen"
              caption="msg://ui.ex1.screen.component.linkbutton/linkButtonScreen.caption"/>
        <item screen="sample_MaskedFieldScreen"
              caption="msg://ui.ex1.screen.component.maskedfield/maskedFieldScreen.caption"/>
        <item screen="multiSelectList-screen"
              caption="msg://multiselectlist/caption"/>
        <item screen="singleSelectList-screen"
              caption="msg://singleselectlist/caption"/>
        <item screen="suggestionField-screen"
              caption="msg://suggestionfield/caption"/>
        <item screen="sample_TagFieldScreen" caption="msg://ui.ex1.screen.component.tagfield/tagFieldScreen.caption"/>
        <item screen="sample_TagPickerScreen" caption="msg://ui.ex1.screen.component.tagpicker/tagPickerScreen.caption"/>
        <item screen="TextAreaScreen" caption="msg://ui.ex1.screen.component.textarea/textAreaScreen.caption"/>
        <item screen="sample_TextFieldScreen"
              caption="msg://ui.ex1.screen.component.textfield/textFieldScreen.caption"/>
        <item screen="sample_TimeFieldScreen"
              caption="msg://ui.ex1.screen.component.timefield/timeFieldScreen.caption"/>
        <item screen="valuePicker-screen"
              caption="msg://ui.ex1.screen.component.valuepicker/valuePickerScreen.caption"/>
        <item screen="valuesPicker-screen"
              caption="msg://ui.ex1.screen.component.valuespicker/valuesPickerScreen.caption"/>
        <item screen="PasswordFieldScreen"
              caption="msg://ui.ex1.screen.component.passwordfield/passwordFieldScreen.caption"/>
        <item screen="PopupButtonScreen" caption="msg://ui.ex1.screen.component.popupbutton/popupButtonScreen.caption"/>
        <item screen="RadioButtonGroupScreen"
              caption="msg://ui.ex1.screen.component.radiobuttongroup/radioButtonGroupScreen.caption"/>
        <item screen="action-screen"
              caption="msg://ui.ex1.screen.actions/actionScreen.caption"/>
        <item screen="table-screen" caption="msg://ui.ex1.screen.component.table/tableScreen.caption"/>
    </menu>

    <menu id="containers" caption="Containers">
        <item screen="sample_BoxLayoutScreen" caption="msg://ui.ex1.screen.containers.boxlayout/boxLayoutScreen.caption"/>
    </menu>

    <menu id="administration" caption="Administration">
        <item screen="uiex1_User.browse" caption="msg://ui.ex1.screen.entity.user/UserBrowse.caption"/>
    </menu>

    <menu id="application" caption="Application">
        <item screen="uiex1_Customer.browse" caption="msg://ui.ex1.screen.entity.customer/customerBrowse.caption"/>
        <item screen="uiex1_Order.browse" caption="msg://ui.ex1.screen.entity.order/orderBrowse.caption"/>
        <item screen="uiex1_Country.browse" caption="msg://ui.ex1.screen.entity.country/countryBrowse.caption"/>
        <item screen="uiex1_Address.browse" caption="msg://ui.ex1.screen.entity.address/addressBrowse.caption"/>
        <item screen="uiex1_Brand.browse" caption="msg://ui.ex1.screen.entity.brand/brandBrowse.caption"/>
        <item screen="uiex1_Person.browse" caption="msg://ui.ex1.screen.entity.person/personBrowse.caption"/>
        <item screen="uiex1_Department.browse" caption="msg://ui.ex1.screen.entity.department/departmentBrowse.caption"/>
        <item screen="uiex1_Employee.browse" caption="msg://ui.ex1.screen.entity.employee/employeeBrowse.caption"/>
    </menu>

</menu-config>