<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="components" caption="Components">
        <item screen="button-screen"
              caption="msg://ui.ex1.screen.component.button/buttonScreen.caption"/>
        <item screen="valuePicker-screen"
              caption="msg://ui.ex1.screen.component.valuepicker/valuePickerScreen.caption"/>
        <item screen="valuesPicker-screen"
              caption="msg://ui.ex1.screen.component.valuespicker/valuesPickerScreen.caption"/>
        <item screen="entityPicker-screen"
              caption="msg://ui.ex1.screen.component.entitypicker/entityPickerScreen.caption"/>
        <item screen="comboBox-screen"
              caption="msg://ui.ex1.screen.component.combobox/comboBoxScreen.caption"/>
    </menu>

    <menu id="administration" caption="Administration">
        <item screen="uiex1_User.browse" caption="msg://ui.ex1.screen.entity.user/UserBrowse.caption"/>
    </menu>

    <menu id="application" caption="Application">
        <item screen="uiex1_Customer.browse" caption="msg://ui.ex1.screen.entity.customer/customerBrowse.caption"/>
        <item screen="uiex1_Order.browse" caption="msg://ui.ex1.screen.entity.order/orderBrowse.caption"/>
        <item screen="uiex1_Country.browse" caption="msg://ui.ex1.screen.entity.country/countryBrowse.caption"/>
        <item screen="uiex1_Address.browse" caption="msg://ui.ex1.screen.entity.address/addressBrowse.caption"/>
    </menu>

</menu-config>