<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.mapssample/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.mapssample.view.user/UserListView.title"/>
        <item view="LayersView" title="msg://com.company.mapssample.view.layers/layersView.title"/>
        <item view="FeaturesView" title="msg://com.company.mapssample.view.features/featuresView.title"/>
        <item view="EventsView" title="msg://com.company.mapssample.view.events/eventsView.title"/>
        <item view="StyleView" title="msg://com.company.mapssample.view.style/styleView.title"/>
        <item view="MapBasicView" title="msg://com.company.mapssample.view.mapbasic/mapBasicView.title"/>
        <item view="Location.list" title="msg://com.company.mapssample.view.location/locationListView.title"/>
        <item view="ClusterView" title="msg://com.company.mapssample.view.cluster/clusterView.title"/>
        <item view="HeatmapView" title="msg://com.company.mapssample.view.heatmap/heatmapView.title"/>
    </menu>

</menu-config>