<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://appsettings.ex1/menu.application" insertBefore="administration">
        <item screen="appsetex1_User.browse" caption="msg://appsettings.ex1.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="appsetex1_Customer.browse" caption="msg://appsettings.ex1.screen.customer/customerBrowse.menu"/>
    </menu>

</menu-config>