<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.fullcalendarsample/menu.application.title" opened="true">
        <menu id="app" title="App">
            <item view="User.list" title="msg://com.company.fullcalendarsample.view.user/UserListView.title"/>
            <item view="Holiday.list" title="msg://com.company.fullcalendarsample.view.app.holiday/holidayListView.title"/>
            <item view="Event.list" title="msg://com.company.fullcalendarsample.view.app.event/eventListView.title"/>
        </menu>

        <menu id="dataModel" title="Data model">
            <item view="SampleEntityCalendarEvent"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleEntityCalendarEvent.title"/>
            <item view="SampleSimpleCalendarEventView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleSimpleCalendarEventView.title"/>
            <item view="SampleRecurringEventsView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleRecurringEventsView.title"/>
            <item view="SampleRecurringEventsGroupidView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleRecurringEventsGroupidView.title"/>
        </menu>

        <menu id="dataBinding" title="Data binding">
            <item view="SampleContainerCalendarDataProviderView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleContainerCalendarDataProviderView.title"/>
            <item view="SampleListCalendarDataProviderView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleListCalendarDataProviderView.title"/>
            <item view="SampleEntityCalendarDataRetrieverView"
                  title="msg://com.company.fullcalendarsample.view.demos/sampleEntityCalendarDataRetrieverView.title"/>
        </menu>

        <menu id="displayMode" title="Display mode">
            <item view="DayGridDayModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/dayGridDayModeView.title"/>
            <item view="DayGridMonthModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/dayGridMonthModeView.title"/>
            <item view="DayGridWeekModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/dayGridWeekModeView.title"/>
            <item view="TimeGridWeekModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/timeGridWeekModeView.title"/>
            <item view="ListWeekModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/listWeekModeView.title"/>
            <item view="MultiMonthYearModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/multiMonthYearModeView.title"/>
            <item view="DisplayModePropertiesView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/displayModePropertiesView.title"/>
            <item view="DisplayModePropertiesOverrideView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/displayModePropertiesOverrideView.title"/>
            <item view="CustomDisplayModeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/customDisplayModeView.title"/>
            <item view="VisibleRangeView"
                  title="msg://com.company.fullcalendarsample.view.demos.displaymode/visibleRangeView.title"/>
        </menu>

        <menu id="eventEdit" title="Event edit">
            <item view="EventDragAndDropView"
                  title="msg://com.company.fullcalendarsample.view.demos.eventedit/eventDragAndDropView.title"/>
            <item view="EventEditCodeSamplesView"
                  title="msg://com.company.fullcalendarsample.view.demos.eventedit/eventEditCodeSamplesView.title"/>
            <item view="EventResizeView"
                  title="msg://com.company.fullcalendarsample.view.demos.eventedit/eventResizeView.title"/>
            <item view="EventOverlapView"
                  title="msg://com.company.fullcalendarsample.view.demos.eventedit/eventOverlapView.title"/>
        </menu>

        <menu id="selection" title="Selection">

            <item view="SelectionCodeSamplesView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionCodeSamplesView.title"/>
            <item view="SelectionSelectEventView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionSelectEventView.title"/>
            <item view="SelectionUnselectEventView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionUnselectEventView.title"/>
            <item view="SelectionSelectOverlapView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionSelectOverlapView.title"/>
            <item view="SelectionProgrammaticSelectionControlView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionProgrammaticSelectionControlView.title"/>
            <item view="SelectionSelectAllowFunctionView"
                  title="msg://com.company.fullcalendarsample.view.demos.selection/selectionSelectAllowFunctionView.title"/>
        </menu>

        <menu id="businessHours" title="Business Hours">
            <item view="BusinessHoursCodeSamplesView"
                  title="msg://com.company.fullcalendarsample.view.demos.businesshours/businessHoursCodeSamplesView.title"/>
        </menu>

        <menu id="contextMenu" title="Context Menu">
            <item view="ContextMenuMenuContentView"
                  title="msg://com.company.fullcalendarsample.view.demos.contextmenu/contextMenuMenuContentView.title"/>
        </menu>

        <menu id="styling" title="Styling">
            <item view="StylingPropertiesView"
                  title="msg://com.company.fullcalendarsample.view.demos.styling/stylingPropertiesView.title"/>
            <item view="StylingDayHeaderClassNamesGeneratorView"
                  title="msg://com.company.fullcalendarsample.view.demos.styling/dayHeaderClassNanesGeneratorView.title"/>
        </menu>

        <item view="PageOverviewSample"
              title="msg://com.company.fullcalendarsample.view.demos.pageoverviewsample/pageOverviewSample.title"/>
        <item view="SampleBasic" title="msg://com.company.fullcalendarsample.view.demos/sampleBasic.title"/>

        <item view="UrlQueryParametersView"
              title="msg://com.company.fullcalendarsample.view.demos/urlQueryParametersView.title"/>


    </menu>

</menu-config>