<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <menu id="application" caption="msg://reports.ex2/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://reports.ex2/menu.UserBrowse.caption"/>
        <item screen="jmxrpr_Author.browse" caption="msg://reports.ex2.screen.author/authorBrowse.menu"/>
        <item screen="jmxrpr_Book.browse" caption="msg://reports.ex2.entity.book/bookBrowse.menu"/>
        <item screen="jmxrpr_BookInstance.browse"
              caption="msg://reports.ex2.screen.entity.bookinstance/bookInstanceBrowse.menu"/>
        <item screen="jmxrpr_BookPublication.browse"
              caption="msg://reports.ex2.screen.entity.bookpublication/bookPublicationBrowse.menu"/>
        <item screen="jmxrpr_LibraryDepartment.browse"
              caption="msg://reports.ex2.screen.entity.librarydepartment/libraryDepartmentBrowse.menu"/>
        <item screen="jmxrpr_LiteratureType.browse"
              caption="msg://reports.ex2.screen.entity.literaturetype/literatureTypeBrowse.menu"/>
        <item screen="jmxrpr_Publisher.browse"
              caption="msg://reports.ex2.screen.entity.publisher/publisherBrowse.menu"/>
        <item screen="jmxrpr_Town.browse" caption="msg://reports.ex2.screen.entity.town/townBrowse.menu"/>
        <item screen="sample_RunReportScreen" caption="msg://reports.ex2.screen.other/runReportScreen.caption"/>
    </menu>
</menu-config>