// tag::helium-start[]
@import "../helium/helium";

@mixin helium-ext {
  @include helium;

// end::helium-start[]
// tag::cobalt[]
  &.cobalt {
    @include helium-cobalt;
  }
// end::cobalt[]
// tag::stepper-field[]
  .stepper-field {
    display: flex;

    .stepper-btn {
      width: $v-unit-size;
      min-width: $v-unit-size;
    }
  }
  // end::stepper-field[]
  // tag::helium-end[]
}
// end::helium-end[]
// tag::helium-cobalt[]
@mixin helium-cobalt {
  /* Basic */
--primary-color: #0055A6;
--primary-color_rgb: 0, 85, 166;

  /* Common */
--primary-color-shade-1: #004C95;
--primary-color-shade-2: #004484;
--primary-dim-color: #C6D1EC;

  /* Button */
--button-primary-focused-border-color: #C6D1EC;
}
// end::helium-cobalt[]