<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.jmixreports/menu.application" insertBefore="administration">
        <item screen="jmxrpr_User.browse" caption="msg://com.company.jmixreports.screen.user/UserBrowse.caption"/>
        <item screen="jmxrpr_Author.browse" caption="msg://com.company.jmixreports.screen.author/authorBrowse.caption"/>
        <item screen="jmxrpr_Book.browse" caption="msg://com.company.jmixreports.screen.book/bookBrowse.caption"/>
        <item screen="jmxrpr_LiteratureType.browse"
              caption="msg://com.company.jmixreports.screen.literaturetype/literatureTypeBrowse.caption"/>
        <item screen="jmxrpr_Publisher.browse"
              caption="msg://com.company.jmixreports.screen.publisher/publisherBrowse.caption"/>
        <item screen="jmxrpr_Town.browse" caption="msg://com.company.jmixreports.screen.town/townBrowse.caption"/>
        <item screen="jmxrpr_BookPublication.browse"
              caption="msg://com.company.jmixreports.screen.bookpublication/bookPublicationBrowse.caption"/>
        <item screen="jmxrpr_BookInstance.browse"
              caption="msg://com.company.jmixreports.screen.bookinstance/bookInstanceBrowse.caption"/>
        <item screen="jmxrpr_LibraryDepartment.browse"
              caption="msg://com.company.jmixreports.screen.librarydepartment/libraryDepartmentBrowse.caption"/>
    </menu>

</menu-config>