<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- tag::menu-config[] -->
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <!-- end::menu-config[] -->
    <!-- tag::menu[] -->
    <menu id="application"
          caption="msg://ui.ex2/menu.application"
          description="Application menu items"
          expanded="true"
          icon="VIEW_ACTION"
          insertBefore="administration">
        <!-- end::menu[] -->
        <!-- tag::menu-config[] -->
        <!-- tag::item-id[] -->
        <item id="User.browse"/>
        <!-- end::item-id[] -->
        <separator/>
        <!-- tag::item-caption[] -->
        <item screen="sample_CustomerScreen"
              caption="msg://ui.ex2.screen.customer/customerScreen.caption"/>
        <!-- end::item-caption[] -->
        <!-- tag::item-screen[] -->
        <item screen="sample_City.browse" id="cities"/>
        <!-- end::item-screen[] -->
        <!-- end::menu-config[] -->
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="MyAnonymousScreen" caption="MyAnonymousScreen"/>
        <!-- tag::item-screen[] -->
        <item screen="sample_City.browse" id="cities2"/>
        <!-- end::item-screen[] -->
        <!-- tag::item-bean[] -->
        <item bean="sample_MenuBean"
              beanMethod="showCityBrowse"
              caption="Show Cities"/>
        <!-- end::item-bean[] -->
        <!-- tag::item-class[] -->
        <item class="ui.ex2.app.CustomMenu" id="jmix" caption="Open page"/>
        <!-- end::item-class[] -->
        <!-- tag::item-shortcut[] -->
        <item screen="sample_City.browse"
              id="cities3"
              shortcut="ALT-C"/>
        <!-- end::item-shortcut[] -->
        <!-- tag::item-shortcut-prop[] -->
        <item screen="sample_City.browse"
              id="cities4"
              shortcut="${sample.menu.city}"/>
        <!-- end::item-shortcut-prop[] -->
        <!-- tag::item-open-mode[] -->
        <item screen="sample_City.browse"
              id="cities5"
              openMode="DIALOG"/>
        <!-- end::item-open-mode[] -->
        <!-- tag::item-properties[] -->
        <item screen="sample_City.browse" id="cities6">
            <properties>
                <property name="filterVisible" value="false"/>
            </properties>
        </item>
        <!-- end::item-properties[] -->
        <!-- tag::menu[] -->
    </menu>
    <!-- end::menu[] -->
    <!-- tag::menu-config[] -->
</menu-config>
<!-- end::menu-config[] -->