<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="Application">
        <menu id="orders" caption="Orders">
            <item screen="mapst_Order.browse" caption="Order browser"/>
            <item screen="mapst_Order.browse1" caption="Order browser one"/>
            <item screen="mapst_Order.browse2" caption="Order browser two"/>
            <item screen="mapst_Order.browse3" caption="Order browser three"/>
            <item screen="mapst_Order.edit" caption="Order edit"/>
            <item screen="mapst_Order.edit1" caption="Order edit one"/>
            <item screen="mapst_Order.edit2" caption="Order edit two"/>
            <item screen="mapst_Order.edit3" caption="Order edit three"/>
        </menu>
        <menu id="territories" caption="Territories">
            <item screen="mapst_Territory.browse" caption="Territory browse"/>
            <item screen="mapst_Territory.browsetile1" caption="Territory browse tile one"/>
            <item screen="mapst_Territory.browsetile2" caption="Territory browse tile two"/>
            <item screen="mapst_Territory.browsewms1"
                  caption="Territory browse wms one"/>
            <item screen="mapst_Territory.browsewms2"
                  caption="Territory browse wms two"/>
            <item screen="mapst_Territory.browseimage1"
                  caption="Territory browse image one"/>
            <item screen="mapst_Territory.browseimage2"
                  caption="Territory browse image two"/>
        </menu>
        <menu id="salesperson" caption="Salesperson">
            <item screen="mapst_Salesperson.browse" caption="Salesperson browser"/>
            <item screen="mapst_Salesperson.edit" caption="Salesperson edit"/>
            <item screen="mapst_Salesperson.edit1" caption="Salesperson edit one"/>
        </menu>
        <item screen="mapst_Canvas" caption="Canvas"/>
        <item screen="mapst_Heatmap" caption="Heatmap"/>
        <item screen="mapst_Heatmap1" caption="Heatmap one"/>
        <item screen="mapst_Heatmap2" caption="Heatmap two"/>
    </menu>
</menu-config>