<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://maps.ex1/menu.application">
        <item screen="mapst_Order.browse" caption="msg://maps.ex1.screen.order/orderBrowse.caption"/>
        <item screen="mapst_Territory.browse" caption="msg://maps.ex1.screen.territory/territoryBrowse.caption"/>
        <item screen="mapst_Salesperson.browse" caption="msg://maps.ex1.screen.salesperson/salespersonBrowse.caption"/>
        <item screen="mapst_Cluster" caption="msg://maps.ex1.screen/cluster.caption"/>
        <item screen="mapst_Heatmap" caption="msg://maps.ex1.screen/heatmap.caption"/>
        <item screen="mapst_Canvas" caption="msg://maps.ex1.screen/canvas.caption"/>
        <item screen="mapst_Store.browse" caption="msg://maps.ex1.screen.store/storeBrowse.caption"/>
    </menu>

</menu-config>