<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://notifications.ex1/menu.application" insertBefore="bpm">
        <item screen="ntf_Order.browse" caption="msg://notifications.ex1.screen.order/orderBrowse.menu"/>
        <item screen="User.browse" caption="msg://notifications.ex1.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>

</menu-config>