<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.demo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.demo.view.user/UserListView.title"/>
        <item view="Customer.list" title="msg://com.company.demo.view.customer/customerListView.title"/>
        <item view="Order_.list" title="msg://com.company.demo.view.order/orderListView.title"/>
        <item view="SearchView" title="msg://com.company.demo.view.search/searchView.title"/>
        <item view="MySearchView" title="msg://com.company.demo.view.search/mySearchView.title"/>
        <item view="FilterView" title="msg://com.company.demo.view.search/filterView.title"/>
        <item view="UsingApiView" title="msg://com.company.demo.view.search/usingApiView.title"/>
    </menu>

</menu-config>