<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://emailtemplate.ex1/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://emailtemplate.ex1.screen.user/userBrowse.menu"/>
        <item screen="sample_Customer.browse" caption="msg://emailtemplate.ex1.screen.customer/customerBrowse.menu"/>
        <item screen="sample_Subscription.browse"
              caption="msg://emailtemplate.ex1.screen.subscription/subscriptionBrowse.menu"/>
    </menu>

</menu-config>