<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="spreadsheet" title="msg://com.company.vaadinspreadsheetex1/menu.spreadsheet.title" opened="true">
        <item view="SpreadsheetBasicsView" title="msg://com.company.vaadinspreadsheetex1.view.basics/spreadsheetBasicsView.title"/>
        <item view="SpreadsheetLoadingView" title="msg://com.company.vaadinspreadsheetex1.view.loading/spreadsheetLoadingView.title"/>
        <item view="SpreadsheetCellsView" title="msg://com.company.vaadinspreadsheetex1.view.cells/spreadsheetCellsView.title"/>
        <item view="SpreadsheetSheetsView" title="msg://com.company.vaadinspreadsheetex1.view.sheets/spreadsheetSheetsView.title"/>
        <item view="SpreadsheetSelectionView" title="msg://com.company.vaadinspreadsheetex1.view.selection/spreadsheetSelectionView.title"/>
        <item view="SpreadsheetHandlersView" title="msg://com.company.vaadinspreadsheetex1.view.handlers/spreadsheetHandlersView.title"/>
        <item view="SpreadsheetReportStyleView" title="msg://com.company.vaadinspreadsheetex1.view.reportstyle/spreadsheetReportStyleView.title"/>
        <item view="SpreadsheetGroupingView" title="msg://com.company.vaadinspreadsheetex1.view.grouping/spreadsheetGroupingView.title"/>
        <item view="SpreadsheetEntityDataView" title="msg://com.company.vaadinspreadsheetex1.view.entitydata/spreadsheetEntityDataView.title"/>
    </menu>

    <menu id="application" title="msg://com.company.vaadinspreadsheetex1/menu.application.title">
        <item view="User.list" title="msg://com.company.vaadinspreadsheetex1.view.user/UserListView.title"/>
    </menu>

</menu-config>
