<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.demo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.demo.view.user/UserListView.title"/>
        <item view="VehicleCountChartView"
              title="msg://com.company.demo.view.vehiclecount/vehicleCountChartView.title"/>
        <item view="GaugeSeriesView"
        title="msg://com.company.demo.view.gauge/gaugeSeriesView.title"/>
        <item view="DataItemsView"
        title="msg://com.company.demo.view.dataitems/dataItemsView.title"/>
    </menu>

</menu-config>