<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://gridexport.ex1/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://gridexport.ex1.screen.user/userBrowse.menu"/>
        <item screen="sample_Customer.browse" caption="msg://gridexport.ex1.screen.customer/customerBrowse.menu"/>
    </menu>
</menu-config>