<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="dashboard" title="msg://com.company.vaadindashboardex1/menu.dashboard.title" opened="true">
        <item view="DashboardBasicsView" title="msg://com.company.vaadindashboardex1.view.basics/dashboardBasicsView.title"/>
        <item view="DashboardWidgetsView" title="msg://com.company.vaadindashboardex1.view.widgets/dashboardWidgetsView.title"/>
        <item view="DashboardSectionsView" title="msg://com.company.vaadindashboardex1.view.sections/dashboardSectionsView.title"/>
        <item view="DashboardGridView" title="msg://com.company.vaadindashboardex1.view.grid/dashboardGridView.title"/>
        <item view="DashboardEditableView" title="msg://com.company.vaadindashboardex1.view.editable/dashboardEditableView.title"/>
        <item view="DashboardProgrammaticView" title="msg://com.company.vaadindashboardex1.view.programmatic/dashboardProgrammaticView.title"/>
    </menu>

    <menu id="application" title="msg://com.company.vaadindashboardex1/menu.application.title">
        <item view="User.list" title="msg://com.company.vaadindashboardex1.view.user/UserListView.title"/>
    </menu>

</menu-config>
