<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://search.ex1/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://search.ex1.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="search_Customer.browse" caption="msg://search.ex1.screen.customer/customerBrowse.menu"/>
        <item screen="search_Order.browse" caption="msg://search.ex1.screen.order/orderBrowse.menu"/>
        <item screen="search_SearchScreen" caption="msg://search.ex1.screen.search/searchScreen.caption"/>
        <item screen="sample_FilterScreen" caption="msg://search.ex1.screen.search/filterScreen.caption"/>
        <item screen="sample_SearchScreenHandler1"
              caption="msg://search.ex1.screen.search/searchScreenHandler1.caption"/>
        <item screen="sample_SearchScreenHandler2"
              caption="msg://search.ex1.screen.search/searchScreenHandler2.caption"/>
        <item screen="sample_UsingApiScreen" caption="msg://search.ex1.screen.search/usingApiScreen.caption"/>
        <item screen="sample_Card.browse" caption="msg://search.ex1.screen.card/cardBrowse.menu"/>
        <item screen="sample_Event.browse" caption="msg://search.ex1.screen.event/eventBrowse.menu"/>
    </menu>

</menu-config>