<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.supersetsample/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.supersetsample.view.user/UserListView.title"/>
        <item view="DashboardView" title="msg://com.company.supersetsample.view.samples.dashboard/dashboardView.title"/>
        <item view="StaticDatasetconstraintView"
              title="msg://com.company.supersetsample.view.samples.staticdatasetconstraint/staticDatasetconstraintView.title"/>
        <item view="CustomGuestTokenProviderView"
              title="msg://com.company.supersetsample.view.samples.customguesttokenprovider/customGuestTokenProviderView.title"/>
    </menu>

</menu-config>