<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.demo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.demo.view.user/UserListView.title"/>
        <item view="sample_Order.list" title="msg://com.company.demo.view.order/orderListView.title"/>
        <item view="sample_Order.list1" title="msg://com.company.demo.view.order/orderListView1.title"/>
    </menu>

</menu-config>