<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://pivottable.ex1/menu.application" insertBefore="administration">
        <item screen="pivott_User.browse" caption="msg://pivottable.ex1.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="sample_SimplePivot" caption="msg://pivottable.ex1.screen/testScrenn.caption"/>
        <menu id="examples" caption="Examples">
            <item screen="sample_PivotSampleScreen"
                  caption="msg://pivottable.ex1.screen.example/pivotSampleScreen.caption"/>
            <item screen="sample_PivotSample"
                  caption="msg://pivottable.ex1.screen.example/pivotSample.caption"/>
            <item screen="sample_EditablePivotTable"
                  caption="msg://pivottable.ex1.screen.example/editablePivotTable.caption"/>
        </menu>
        <item screen="sample_TipInfo.browse" caption="msg://pivottable.ex1.screen.tipinfo/tipInfoBrowse.menu"/>
        <item screen="sample_PivotTableExport" caption="msg://pivottable.ex1.screen/pivotTableExport.caption"/>
        <item screen="sample_ShowPivotActionScreen" caption="msg://pivottable.ex1.screen/showPivotAction.caption"/>
        <item screen="sample_PivotTable" caption="msg://pivottable.ex1.screen/pivotTable.caption"/>
    </menu>
</menu-config>