<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.pivottable/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.pivottable.view.user/UserListView.title"/>
        <item view="MyOnboardingView" title="msg://com.company.pivottable.view.myonboarding/myOnboardingView.title"/>
        <item view="PivottableEventsView"
              title="msg://com.company.onboarding.view.pivottableevents/pivottableEventsView.title"/>
    </menu>

</menu-config>