<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- tag::menu-config[] -->
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <!-- end::menu-config[] -->
    <menu opened="true" id="application" title="msg://com.company.onboarding/menu.application.title">
        <item view="MyOnboardingView" title="msg://com.company.onboarding.view.myonboarding/myOnboardingView.title"/>
        <!-- tag::item-title[] -->
        <item view="User.list" title="msg://com.company.onboarding.view.user/UserListView.title"/>
        <!-- end::item-title[] -->
        <item view="Step.list" title="msg://com.company.onboarding.view.step/stepListView.title"/>
        <item view="Department.list2" title="msg://com.company.onboarding.view.department/departmentListView.title"/>
        <item view="SampleView" title="msg://com.company.onboarding.view.sample/sampleView.title"/>
        <item view="SimpleView1" title="msg://com.company.onboarding.view.simple1/simpleView1.title"/>
        <item view="BackgroundTasksView"
              title="msg://com.company.onboarding.view.backgroundtasks/backgroundTasksView.title"/>
        <item view="FancyMessageView" title="msg://com.company.onboarding.view.fancymessage/fancyMessageView.title"/>
    </menu>
    <menu id="vc"
          title="msg://com.company.onboarding/menu_config.vc.title">
        <item view="AvatarView" title="msg://com.company.onboarding.view.component.avatar/avatarView.title"/>
        <item view="ButtonView" title="msg://com.company.onboarding.view.component.button/buttonView.title"/>
        <item view="DatePickerView" title="msg://com.company.onboarding.view.component.datepicker/datePickerView.title"/>
        <item view="DateTimePickerView" title="msg://com.company.onboarding.view.component.datetimepicker/dateTimePickerView.title"/>
        <item view="DropdownButtonView"
              title="msg://com.company.onboarding.view.component.dropdownbutton/dropdownButtonView.title"/>
        <item view="IconView" title="msg://com.company.onboarding.view.component.icon/iconView.title"/>
        <item view="LoginFormView" title="msg://com.company.onboarding.view.component.loginform/loginFormView.title"/>
        <item view="PasswordFieldView" title="msg://com.company.onboarding.view.component.passwordfield/passwordFieldView.title"/>
        <item view="ProgressBarView" title="msg://com.company.onboarding.view.component.progressbar/progressBarView.title"/>
        <item view="TabsView" title="msg://com.company.onboarding.view.component.tabs/tabsView.title"/>
        <item view="TextFieldView" title="msg://com.company.onboarding.view.component.textfield/textFieldView.title"/>
        <item view="TimePickerView" title="msg://com.company.onboarding.view.component.timepicker/timePickerView.title"/>
        <item view="ValuePickerView" title="msg://com.company.onboarding.view.component.valuepicker/valuePickerView.title"/>
        <item view="MultiValuePickerView"
              title="msg://com.company.onboarding.view.component.multivaluepicker/multiValuePickerView.title"/>
        <item view="EntityPickerView"
              title="msg://com.company.onboarding.view.component.entitypicker/entityPickerView.title"/>
        <item view="ComboBoxView" title="msg://com.company.onboarding.view.component.combobox/comboBoxView.title"/>
        <item view="EntityComboBoxView"
              title="msg://com.company.onboarding.view.component.entitycombobox/entityComboBoxView.title"/>
        <item view="DataGridView" title="msg://com.company.onboarding.view.component.datagrid/dataGridView.title"/>
        <item view="TreeDataGridView" title="msg://com.company.onboarding.view.component.datagrid/treeDataGridView.title"/>
        <item view="PropertyFilterView"
              title="msg://com.company.onboarding.view.component.propertyfilter/propertyFilterView.title"/>
        <item view="CheckBoxView" title="msg://com.company.onboarding.view.component.checkbox/checkBoxView.title"/>
        <item view="RadioButtonGroupView"
              title="msg://com.company.onboarding.view.component.radiobuttongroup/radioButtonGroupView.title"/>
        <item view="SimplePaginationView"
              title="msg://com.company.onboarding.view.component.simplepagination/simplePaginationView.title"/>
        <item view="FileStorageUploadView"
              title="msg://com.company.onboarding.view.component.filestorageupload/fileStorageUploadView.title"/>
        <item view="FileUploadFieldView"
              title="msg://com.company.onboarding.view.component.fileuploadfield/fileUploadFieldView.title"/>
        <item view="GenericFilterView" title="msg://com.company.onboarding.view.component.genericfilter/genericFilterView.title"/>
        <item view="TextAreaView" title="msg://com.company.onboarding.view.component.textarea/textAreaView.title"/>
    </menu>

    <menu id="layouts" title ="msg://com.company.onboarding/menu_config.layouts.title" >
        <item view="AccordionView" title="msg://com.company.onboarding.view.layout.accordion/accordionView.title"/>
        <item view="DetailsView" title="msg://com.company.onboarding.view.layout.details/detailsView.title"/>
        <item view="FormLayoutView" title="msg://com.company.onboarding.view.layout.formlayout/formLayoutView.title"/>
        <item view="HboxView" title="msg://com.company.onboarding.view.layout.hbox/hboxView.title"/>
        <item view="ScrollerView" title="msg://com.company.onboarding.view.layout.scroller/scrollerView.title"/>
        <item view="SplitView" title="msg://com.company.onboarding.view.layout.split/splitView.title"/>
        <item view="TabsheetView" title="msg://com.company.onboarding.view.layout.tabsheet/tabSheetView.title"/>
        <item view="VboxView" title="msg://com.company.onboarding.view.layout.vbox/vboxView.title"/>
    </menu>

    <menu id="htmlComponents" title="HTML Components">
        <menu id="image" title="image">
            <item view="ImageView" title="msg://com.company.onboarding.view.htmlcomponent.image/imageView.title"/>
            <item view="ImageResourcesView"
                  title="msg://com.company.onboarding.view.htmlcomponent.image/imageResourcesView.title"/>
        </menu>
        <item view="DivView" title="msg://com.company.onboarding.view.htmlcomponent.div/divView.title"/>
    </menu>

    <menu id="dialogsAndNotifications" title = "msg://com.company.onboarding/menu_config.dialogsAndNotifications.title">
        <menu id="dialogs" title = "msg://com.company.onboarding/menu_config.dialogs.title">
            <item view="DialogsSampleView" title="msg://com.company.onboarding.view.dialogsandnotifications.dialogs/dialogsSampleView.title"/>
        </menu>

        <menu id="notifications" title = "msg://com.company.onboarding/menu_config.notifications.title">
            <item view="NotificationSampleView"
                  title="msg://com.company.onboarding.view.dialogsandnotifications.notifications/notificationSampleView.title"/>
        </menu>
    </menu>

    <menu id="actions" title="Actions">
        <item view="ActionsView" title="msg://com.company.onboarding.view.actions/actionsView.title"/>
        <item view="StandardListActionsView" title="msg://com.company.onboarding.view.actions/standardListActionsView.title"/>
        <item view="StandardPickerActionsView"
              title="msg://com.company.onboarding.view.actions/standardEntityPickerActionsView.title"/>
    </menu>

    <menu id="facets" title="Facets">
        <item view="UrlQueryParametersView"
              title="msg://com.company.onboarding.view.facets/urlQueryParametersView.title"/>
    </menu>

    <!-- tag::menu[] -->
    <menu id="main-menu"
          title="msg://com.company.onboarding/menu.application.title"
          description="Application menu items"
          opened="true"
          icon="DOT_CIRCLE"
          classNames="application-menu">
        <!-- tag::item-id[] -->
        <item id="Department.list"/>
        <!-- end::item-id[] -->
        <separator/>
        <item view="City.list" id="cities"/>
        <!-- end::menu[] -->
        <!-- tag::item-view[] -->
        <item view="City.list" id="cities1"/>
        <item view="City.list" id="cities2"/>
        <!-- end::item-view[] -->
        <!-- tag::item-bean[] -->
        <item bean="MenuBean"
              beanMethod="browseCities"
              title="Show Cities"/>
        <!-- end::item-bean[] -->
        <!-- tag::bean-method[] -->
        <item bean="MenuBean" beanMethod="openLink"
              id="openBeanWithParams" title="External Link">
            <properties>
                <property name="url" value="https://jmix.io"/>
            </properties>
        </item>
        <!-- end::bean-method[] -->
        <!-- tag::item-class[] -->
        <!--        <item className="ui.ex2.app.CustomMenu" id="jmix" title="Open page"/>-->
        <!-- end::item-class[] -->
        <!-- tag::item-shortcut[] -->
        <item view="City.list"
              id="cities3"
              shortcutCombination="ALT-C"/>
        <!-- end::item-shortcut[] -->
        <!-- tag::item-shortcut-prop[] -->
        <item view="City.list"
              id="cities4"
              shortcutCombination="${sample.menu.city}"/>
        <!-- end::item-shortcut-prop[] -->

        <!-- tag::property-entity[] -->
        <!--        <item view="User.detail" title="User screen">-->
        <!--            <properties>-->
        <!--                <property name="user"-->
        <!--                          entityClass="User"-->
        <!--                          entityFetchPlan="_base"-->
        <!--                          entityId="60885987-1b61-4247-94c7-dff348347f93"/>-->
        <!--            </properties>-->
        <!--        </item>-->
        <!-- end::property-entity[] -->

        <!-- tag::query-params[] -->
        <item view="City.list" title="Query Parameters">
            <urlQueryParameters>
                <parameter name="page" value="3"/>
                <parameter name="sort" value="desc"/>
            </urlQueryParameters>
        </item>
        <!-- end::query-params[] -->

        <!-- tag::route-params[] -->
        <item view="Department.detail" title="HR Department">
            <routeParameters>
                <parameter name="id" value="9b77a432-1610-5147-ff93-e7ee27c26e09"/>
            </routeParameters>
        </item>
        <!-- end::route-params[] -->
        <separator/>
        <!-- tag::menu[] -->
    </menu>
    <!-- end::menu[] -->
    <!-- tag::menu-config[] -->
</menu-config>
<!-- end::menu-config[] -->