<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.company.onboarding/menu.application.title">
        <item view="MyOnboardingView" title="msg://com.company.onboarding.view.myonboarding/myOnboardingView.title"/>
        <item view="User.list" title="msg://com.company.onboarding.view.user/UserListView.title"/>
        <item view="Step.list" title="msg://com.company.onboarding.view.step/stepListView.title"/>
        <item view="Department.list" title="msg://com.company.onboarding.view.department/departmentListView.title"/>
        <item view="SampleView" title="msg://com.company.onboarding.view.sample/sampleView.title"/>
        <item view="SimpleView1" title="msg://com.company.onboarding.view.simple1/simpleView1.title"/>
        <item view="BackgroundTasksView"
              title="msg://com.company.onboarding.view.backgroundtasks/backgroundTasksView.title"/>

    </menu>
    <menu id="vc"
          title="msg://com.company.onboarding/menu_config.vc.title">
        <item view="ButtonView" title="msg://com.company.onboarding.view.component.button/buttonView.title"/>
        <item view="DatePickerView" title="msg://com.company.onboarding.view.component.datepicker/datePickerView.title"/>
        <item view="DateTimePickerView" title="msg://com.company.onboarding.view.component.datetimepicker/dateTimePickerView.title"/>
        <item view="LoginFormView" title="msg://com.company.onboarding.view.component.loginform/loginFormView.title"/>
        <item view="PasswordFieldView" title="msg://com.company.onboarding.view.component.passwordfield/passwordFieldView.title"/>
        <item view="ProgressBarView" title="msg://com.company.onboarding.view.component.progressbar/progressBarView.title"/>
        <item view="TextFieldView" title="msg://com.company.onboarding.view.component.textfield/textFieldView.title"/>
        <item view="TimePickerView" title="msg://com.company.onboarding.view.component.timepicker/timePickerView.title"/>
        <item view="ValuePickerView" title="msg://com.company.onboarding.view.component.valuepicker/valuePickerView.title"/>
        <item view="MultiValuePickerView"
              title="msg://com.company.onboarding.view.component.multivaluepicker/multiValuePickerView.title"/>
        <item view="EntityPickerView"
              title="msg://com.company.onboarding.view.component.entitypicker/entityPickerView.title"/>
        <item view="ComboBoxView" title="msg://com.company.onboarding.view.component.combobox/comboBoxView.title"/>
        <item view="EntityComboBoxView"
              title="msg://com.company.onboarding.view.component.entitycombobox/entityComboBoxView.title"/>
        <item view="DataGridView" title="msg://com.company.onboarding.view.component.datagrid/dataGridView.title"/>
        <item view="TreeDataGridView" title="msg://com.company.onboarding.view.component.datagrid/treeDataGridView.title"/>
        <item view="PropertyFilterView"
              title="msg://com.company.onboarding.view.component.propertyfilter/propertyFilterView.title"/>
    </menu>

    <menu id="layouts" title ="msg://com.company.onboarding/menu_config.layouts.title" >
        <item view="FormLayoutView" title="msg://com.company.onboarding.view.layout.formlayout/formLayoutView.title"/>
    </menu>

    <menu id="dialogsAndNotifications" title = "msg://com.company.onboarding/menu_config.dialogsAndNotifications.title">
        <menu id="dialogs" title = "msg://com.company.onboarding/menu_config.dialogs.title">
            <item view="DialogsSampleView" title="msg://com.company.onboarding.view.dialogsandnotifications.dialogs/dialogsSampleView.title"/>
        </menu>

        <menu id="notifications" title = "msg://com.company.onboarding/menu_config.notifications.title">
            <item view="NotificationSampleView"
                  title="msg://com.company.onboarding.view.dialogsandnotifications.notifications/notificationSampleView.title"/>
        </menu>
    </menu>

</menu-config>