// tag::start[]
@import "../helium/helium";

@mixin helium-extended {
  @include helium;
// end::start[]

  // tag::helium-extended[]
  /* Basic */
  --primary-color: #0097D8;
  --primary-color_rgb: 0, 151, 216;

  /* Common */
  --primary-color-shade-1: #0084BD;
  --primary-color-shade-2: #0076A8;
  --primary-dim-color: #2EC0FF;

  /* TextField */
  --textfield-background-color: #E8FFFC;
  // end::helium-extended[]
  // tag::name-field[]

  .name-field {
      background-color: lightyellow;
  }
  // end::name-field[]

  // tag::combo-box[]

  .v-filterselect-item-poor {
      background-color: #f4f1ec;
      color: black;
  }

  .v-filterselect-item-average {
      background-color: #e5ddce;
      color: black;
  }

  .v-filterselect-item-good {
      background-color: #ecd7d2;
      color: black;
  }

  .v-filterselect-item-excellent {
      background-color: #c69c96;
      color: black;
  }
  // end::combo-box[]
  // tag::suggestion-field-styles[]

  .silver-level {
      background-color: #c0c0c0;
      color: black;
  }

  .gold-level {
      background-color: #fdd017;
      color: black;
  }

  .platinum-level {
      background-color: #e5e4e2;
      color: black;
  }

  .diamond-level {
      background-color: #b9f2ff;
      color: black;
  }
  // end::suggestion-field-styles[]
  // tag::modify-style[]

  .jmix-sidemenu-item-caption {
      font-weight: bold;
  }
  // end::modify-style[]

  // tag::tag-field[]
  .jmix-taglabel.developer {
    background-color: green;
    color: black;
  }

  .jmix-taglabel.business-analyst {
    background-color: orange;
    color: black;
  }

  .jmix-taglabel.project-manager {
    background-color: darkorchid;
    color: black;
  }

  .jmix-taglabel.chief-executive-officer {
    background-color: tomato;
    color: black;
  }
  // end::tag-field[]

  // tag::css-layout[]

  .responsive-container {
    &[width-range~="0-800px"] {
      .group-panel {
        width: 100% !important;
      }
    }

    &[width-range~="801px-"] {
      .group-panel {
        width: 50% !important;
      }
    }
  }
  // end::css-layout[]

  // tag::html-box-layout[]

  .email {
    width: 390px;
  }

  .submit {
    width: 100px;
  }

  .logo {
    font-size: 96px;
    text-transform: uppercase;
    margin-top: 50px;
  }

  .component-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  // end::html-box-layout[]

  // tag::template-contents[]
  .box-container {
    text-align: center;
  }

  .box-container .logo {
    width: 500px;
    margin: 50px auto;
  }

  .button-container {
    width: 500px;
    margin: 0 auto;
  }

  .button-container .sample-button {
    width: 166px;
    display: inline-block;
    vertical-align: top;
  }

  .box-container .button-container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }

  .html-sample {
    white-space: nowrap;
    position: relative;
  }

  .button-container .sample-button:first-child .v-widget {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 3px;
  }

  .button-container .sample-button .v-widget {
    vertical-align: middle;
    margin-left: -4px;
    height: 50px;
    font-size: 20px;
  }

  .button-container .sample-button ~ .sample-button:not(:last-child) .v-widget {
    border-radius: 0;
  }

  .button-container .sample-button:last-child .v-widget {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -8px;
  }
  // end::template-contents[]

  // tag::responsive-grid-layout-style[]
  .jmix-responsivegridlayout {
    .row > .col, .row > [class^=col-] {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: #c1b6ef;
      border: 1px solid #F2F2F2;
    }
    &.vertical-alignment {
      .row {
        min-height: 10rem;
        background-color: #F2F2F2;
      }

      .row + .row {
        margin-top: 1rem;
      }
    }
  }
  // end::responsive-grid-layout-style[]

  // tag::calendar-event-red[]

  .v-calendar-event.event-red {
    background-color: #f4c8c8;
    color: #e00000;
  }

  // end::calendar-event-red[]

  // tag::end[]
}
// end::end[]