// tag::helium-extended[]
@import "../helium/helium";

@mixin helium-extended {
  @include helium;

  /* Basic */
  --primary-color: #0097D8;
  --primary-color_rgb: 0, 151, 216;

  /* Common */
  --primary-color-shade-1: #0084BD;
  --primary-color-shade-2: #0076A8;
  --primary-dim-color: #2EC0FF;
}
// end::helium-extended[]