// tag::start[]
@import "../helium/helium";

@mixin helium-extended {
  @include helium;
// end::start[]

  // tag::helium-extended[]
  /* Basic */
  --primary-color: #0097D8;
  --primary-color_rgb: 0, 151, 216;

  /* Common */
  --primary-color-shade-1: #0084BD;
  --primary-color-shade-2: #0076A8;
  --primary-dim-color: #2EC0FF;

  /* TextField */
  --textfield-background-color: #E8FFFC;
  // end::helium-extended[]
  // tag::name-field[]

  .name-field {
      background-color: lightyellow;
  }
  // end::name-field[]

  // tag::combo-box[]

  .v-filterselect-item-poor {
      background-color: #f4f1ec;
      color: black;
  }

  .v-filterselect-item-average {
      background-color: #e5ddce;
      color: black;
  }

  .v-filterselect-item-good {
      background-color: #ecd7d2;
      color: black;
  }

  .v-filterselect-item-excellent {
      background-color: #c69c96;
      color: black;
  }
  // end::combo-box[]
  // tag::suggestion-field-styles[]

  .silver-level {
      background-color: #c0c0c0;
      color: black;
  }

  .gold-level {
      background-color: #fdd017;
      color: black;
  }

  .platinum-level {
      background-color: #e5e4e2;
      color: black;
  }

  .diamond-level {
      background-color: #b9f2ff;
      color: black;
  }
  // end::suggestion-field-styles[]
  // tag::modify-style[]

  .c-sidemenu-item-caption {
      font-weight: bold;
  }
  // end::modify-style[]

  // tag::tag-field[]
  .jmix-taglabel.developer {
    background-color: green;
    color: black;
  }

  .jmix-taglabel.business-analyst {
    background-color: orange;
    color: black;
  }

  .jmix-taglabel.project-manager {
    background-color: darkorchid;
    color: black;
  }

  .jmix-taglabel.chief-executive-officer {
    background-color: tomato;
    color: black;
  }
  // end::tag-field[]

// tag::end[]
}
// end::end[]