@import "../helium/helium-defaults";
// tag::styles[]
.v-filterselect-item-poor {
     background-color: #f4f1ec;
     color: black;
}

.v-filterselect-item-average {
     background-color: #e5ddce;
     color: black;
}

.v-filterselect-item-good {
     background-color: #ecd7d2;
     color: black;
}

.v-filterselect-item-excellent {
     background-color: #c69c96;
     color: black;
}
// end::styles[]