/* tag::knobs[] */
.branded-chat {
    --jmix-ai-chat-max-width: 40em;
    --jmix-ai-code-block-background: var(--vaadin-background-container);
    --jmix-ai-message-input-gap: var(--vaadin-gap-m);
}
/* end::knobs[] */

/* tag::part[] */
.branded-chat jmix-ai-message-input::part(input-container) {
    border-radius: 0;
    border-color: var(--vaadin-border-color-secondary);
}
/* end::part[] */
