<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.planner/menu.application" insertBefore="administration">
        <item screen="planner_User.browse" caption="msg://com.company.planner.screen.user/UserBrowse.caption"/>
        <item screen="planner_Speaker.browse" caption="msg://com.company.planner.screen.speaker/speakerBrowse.caption"/>
        <item screen="planner_Talk.browse" caption="msg://com.company.planner.screen.talk/talkBrowse.caption"/>
    </menu>

</menu-config>