.version-dropdown-toggle {
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    line-height: inherit;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.version-dropdown-toggle.opened .version-dropdown-icon {
    transform: rotate(180deg);
}

.version-dropdown-icon {
    color: inherit;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    transition: all .1s ease-in;
}

.version-dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    text-align: left;
    list-style: none;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #E1E1E1;
    border-radius: 0.25rem;
}

.version-dropdown-menu.opened {
    display: block;
}

.version-dropdown-item {
    display: block;
    width: 100%;
    padding: 0 1rem;
    clear: both;
    font-weight: 400;
    color: #424242;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.version-dropdown-item:hover {
    text-decoration: underline;
}