/* This file contains CSS rules that override the rules defined by Antora Default UI */

.doc {
    hyphens: none;
}

a.live-demo-btn {
    background-color: #fdcb6e;
    text-decoration: none;
    padding: 8px 20px;
    color: #32346b;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

a.live-demo-btn:hover {
    background-color: #ffd588;
}

a.live-demo-btn:active, a.live-demo-btn:focus {
    outline: none;
}

.backoffice-ui-live-demo-container {
    float: right;
    padding: 1px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
    color: #342a98;
}

.doc pre.highlight code {
    font-size: 0.8rem;
}

nav.navbar {
    background: #17124B;
}

a {
    color: #342a98;
}