/* This file contains CSS rules that override the rules defined by Antora Default UI */

.doc {
    hyphens: none;
}

a.live-demo-btn {
    background-color: #fdcb6e;
    text-decoration: none;
    padding: 8px 20px;
    color: #32346b;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

a.live-demo-btn:hover {
    background-color: #ffd588;
}

a.live-demo-btn:active, a.live-demo-btn:focus {
    outline: none;
}

.jmix-ui-live-demo-container {
    float: right;
    padding: 1px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
    color: #342a98;
}

.doc pre.highlight code {
    font-size: 0.8rem;
}

nav.navbar {
    background: #17124B;
}

a, .doc a, .doc a:hover {
    color: #342a98;
}

a.vaadin-docs-btn {
    background-color: #2486f9;
    text-decoration: none;
    padding: 6px 15px;
    color: #fdfdfd;
    border-radius: 6px;
    font-weight: bold;
    font-size: smaller;
    margin-left: 20px;
    margin-bottom: 10px;
}

a.vaadin-docs-btn:hover {
    background-color: #3890f8;
    color: #fdfdfd;
}

a.vaadin-docs-btn:active, a.vaadin-docs-btn:focus {
    outline: none;
}

a.mdn-docs-btn {
    background-color: #575757;
    text-decoration: none;
    padding: 6px 15px;
    color: #f8f8f9;
    border-radius: 6px;
    font-weight: bold;
    font-size: smaller;
    margin-left: 20px;
    margin-bottom: 10px;
}

a.mdn-docs-btn:hover {
    background-color: #727272;
    color: #f8f8f9;
}

a.mdn-docs-btn:active, a.mdn-docs-btn:focus {
    outline: none;
}

a.echarts-docs-btn {
    background-color: #B03A5B;
    text-decoration: none;
    padding: 6px 15px;
    color: #fdfdfd;
    border-radius: 6px;
    font-weight: bold;
    font-size: smaller;
    margin-left: 20px;
    margin-bottom: 10px;
}

a.echarts-docs-btn:hover {
    background-color: #B03A5B;
    color: #fdfdfd;
}

a.echarts-docs-btn:active, a.echarts-docs-btn:focus {
    outline: none;
}
