/* This file contains CSS rules that override the rules defined by Antora Default UI */

.doc {
    hyphens: none;
}

a.live-demo-btn { background-color: #fdcb6e; text-decoration: none; padding: 8px 20px; color: #32346b; border-radius: 6px; font-weight: bold; margin-left: 20px; margin-bottom: 10px; }

a.live-demo-btn:hover { background-color: #ffd588; }

a.live-demo-btn:active, a.live-demo-btn:focus { outline: none; }