.navbar-brand .navbar-item + .navbar-item {
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar-brand .vertical-line {
  margin: .5rem 1rem;
  border-left: 1px solid #FFF;
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    flex-grow: 1;
  }

  .navbar-menu {
    flex-grow: 0;
  }
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
}

@media screen and (max-width: 1023px) {
  #search-input {
    margin-left: 4px;
    margin-right: 4px;
    width: 100%;
  }

  .topbar-nav .navbar-end {
    display: flex;
    justify-content: center;
  }

  div.header-btn, .navbar-menu {
    background-color: #17124b;
  }

  .header-btn {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
  }
}

.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  top: 100%;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .search-result-dropdown-menu {
    min-width: calc(100vw - 3.75rem);
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
  max-height: calc(100vh - 5.25rem);
  color: #333;
}

.search-result-highlight {
  color: #174d8c;
  background: rgba(143, 187, 237, 0.1);
  padding: .1em .05em;
}

.search-result-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #a4a7ae;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75em;
  color: #02060c;
  font-weight: 700;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.search-result-document-hit > a:hover {
  background-color: rgba(69, 142, 225, 0.05);
}

.header-btn {
  display: flex;
  margin-right: 20px;
  text-align: center;
}

.header-link, .header-purple-link {
  display: inline-block;
  padding: 12px 30px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.header-link {
  color: #17124b;
  background: #fdb42b;
}

.header-purple-link {
  padding: 10px 30px;
  color: white;
  background-color: #17124b;
}

.header-link:hover, .header-purple-link:hover {
  text-decoration: underline;
}

.navbar-brand .navbar-item:first-child {
  font-size: 1rem;
}

@media screen and (max-width: 420px) {
  .navbar-brand .navbar-item:first-child {
    font-size: .75rem;
  }
}

@media screen and (max-width: 340px) {
  .navbar-brand .vertical-line {
    display: none;
  }
}

a.jmix-link, a.jmix-docs-en-link, a.git-link, a.ai-assistant-link {
  font-size: 0;
  padding-left: 2px;
  padding-right: 10px;
}

:is(a.ai-assistant-link, a.jmix-docs-en-link, a.git-link, a.jmix-link) img {
    margin-left: 0;
}

:is(a.ai-assistant-link, a.jmix-docs-en-link, a.git-link, a.jmix-link):hover img {
    transform: scale(1.07);
}

.ai-assistant-link, .jmix-docs-en-link, .git-link, .jmix-link  {
    margin-right: 4px;
}

div.header-btn a img {
  height: 1.25rem;
  vertical-align: text-bottom;
  margin-left: 8px;
  height: 1.25rem;
      display: flex;
}

a.ai-assistant-link {
    margin-right: 4px;
}

a.ai-assistant-link img {
    content: url("../img/jmix-ai-assistant-icon.svg");
}

a.git-link img {
    content: url("../img/git-icon.svg");
}

a.jmix-docs-en-link img {
    content: url("../img/jmix-docs-en-icon.svg");
}

a.jmix-link img {
    content: url("../img/jmix-icon.svg");
}